<div id="search-wrapper">
  <form action="/public/public_search">
    <label for="search">Search</label>
    <input type="text" id="search">
    <input type="hidden" id="id" name="id">
  </form>
</div>